body {
    background-image: url('splash.jpg');
    color: #444;
}
.container {
    background-color: white;
}
.pokemon-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out;
    position: relative;
}
.pokemon-card:hover {
    opacity: 1;
    z-index: 9999;
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -o-transform:scale(2);
    transform:scale(2);
}
img.energy {
    opacity: 0.3;
}
img.common {
    opacity: 0.6;
}
img.uncommon {
    opacity: 0.8;
}
.section {
    display: none;
}
.main.container {
    min-height: 800px;
}
.top.container {
    padding-top: 10px;
}
.card-wrapper {
    float: left;
    text-align: center;
    padding-bottom: 10px;
}
.card-wrapper.rare {
    background-color: #CFD8DC;
    font-weight: bold;
}
.card-wrapper.rare.holo {
    background-color: #1A237E;
    color: #ccc;
}
.card-wrapper.rare.ultra {
    background-color: #FFEE58;
}
.card-wrapper.rare.secret {
    background-color: #444;
    color: #ccc;
}
